[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
aniso8601 = "*"
click = "*"
flask-sqlalchemy = "*"
itsdangerous = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
werkzeug = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
fastapi-utils = "*"
aiohttp = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
